hydra-core==1.3.2
numpy==1.23.5
ase==3.22.1
torch_geometric
torch-scatter
torchmd @ git+https://github.com/Bedledl/torchmd-ipu.git@wip
torchmd-cg
torchmd-net @ git+https://github.com/Bedledl/torchmd-net-ipu.git@wip
seaborn
torch_cluster
pytorch-lightning==1.9
