hydra-core==1.3.2
numpy==1.23.5
ase==3.22.1
torch_geometric
torch-scatter
schnetpack @ git+https://github.com/Bedledl/schnetpack_ipu.git@ipu_compatibility
torchmd==1.0.0
torchmd-cg
torchmd-net @ git+https://github.com/torchmd/torchmd-net.git
seaborn
torch_cluster
